.footContenedor {
    margin: 0 auto;
  }
  
  .footer {
    grid-area: footer;
    background-color: $mMedio;
    padding: 80px 0;
    display: flex;
    justify-content: flex-start;
    text-align: justify;
    .footer-row {
      display: flex;
      flex-wrap: nowrap;
    }
  
    .footer-link {
      width: 25%;
      padding: 0 30px;
  
      h4 {
        text-align: center;
        font-size: 20px;
        color: $white-color;
        text-shadow: $sombraTexto;
        margin-bottom: 20px;
        border-bottom: 2px solid $mOscuro;
        padding-bottom: 10px;
        display: block;
      }
  
      ul {
        li {
          a {
            text-align: center;
            font-size: 18px;
            text-decoration: none;
            color: $white-color;
            display: block;
            margin-bottom: 15px;
            transition: all 0.3s ease;
  
            &:hover {
              color: $mOscuro;
              padding-left: 6px;
            }
          }
        }
      }
    }
  
    .social-link {
      a {
        display: inline-block;
        min-height: 40px;
        width: 40px;
        background-color: $mSuave;
        margin: 0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: $mMedio;
        transition: all 0.5s ease;
  
        &:hover {
          background-color: $white-color;
        }
      }
    }
  }
  