$mOscuro: #1c023b;
$mMedio: #3b0a77;
$mSuave: #71489b;
$primary-gradient: -webkit-linear-gradient(90deg, #1c023b, #3b0a77, #71489b);
$second-gradient: linear-gradient(90deg, #1c023b, #3b0a77, #71489b);
$xbox-gradient: -webkit-linear-gradient(90deg, #0a4b01,#05660b,#307c24);
$xboxGradient2:linear-gradient(90deg, #0a4b01,#05660b,#307c24);
$playstation-gradient: linear-gradient(90deg, #223af7, #476af5, #9ca5cf);
$playstationGradiente2:-webkit-linear-gradient(90deg, #223af7,#476af5,#9ca5cf);
$steam-gradient: linear-gradient(90deg, #3a3b41, #302c2c, #1d1d1b);
$steamGradiente2:-webkit-linear-gradient(90deg, #3a3b41,#302c2c,#1d1d1b);
$nintendo-gradient: linear-gradient(90deg, #dc2d24, #b03930, #f20202);
$nintendoGradient2:-webkit-linear-gradient(90deg, #dc2d24,#b03930,#f20202);
$notiNin-gradient: linear-gradient(90deg, #dc2d24, #b03930, #cc8383, white);

$white-color: #ffffff;
$box-shadow-color: rgba(0, 0, 0, 0.1);
$sombra2: 0 4px 8px rgba(237, 233, 233, 0.1);
$sombraTexto: 0 0 5px rgb(220, 220, 15), 0 0 10px rgb(220,220,15), 0 0 15px purple, 0 0 20px purple, 0 0 25px purple, 0 0 30px purple;
$sombraTexto2: 0 0 5px white, 0 0 10px white, 0 0 15px purple, 0 0 18px purple, 0 0 20px purple, 0 0 25px purple;
$sombra3:0 0 5px white, 0 0 10px white, 0 0 15px rgb(181, 181, 181), 0 0 20px rgb(128, 0, 9), 0 0 25px rgb(68, 128, 0), 0 0 30px rgb(45, 0, 128);
$box-border: 1px solid #ddd;

$breakpoint-sm: 768px;
$breakpoint-md: 1024px;